{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h2>{{ title }}</h2>
<form name='YelpForm' action="" class="post-form" method="post">
    {% csrf_token %}
    <label for="term">Term: </label>
    <input id="term" type="text" name="term" placeholder="Type..." value="{{ YelpForm.term }}">
    <label for="location">Location: </label>
    <input id="location" type="text" name="location" placeholder="Where..." value="{{ YelpForm.location }}">
    <input type="submit" value="OK" name="OK">
</form>
<div class="display">
    <div class="property">
        <font size="+2">
            <label for="business_name">Business Name: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.business_name }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="phone">Business Phone: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.phone }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="address">Business Address: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.address }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="city">Business City: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.city }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="state">Business State: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.state }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="postal_code">Business Postal Code: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.postal_code }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="latitude">Business Latitude: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.latitude }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="longitude">Business Longitude: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.longitude }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="business_stars">Yelp Business Star Rating: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.business_stars }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="yelp_business_id">Yelp Business ID: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.yelp_business_id }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="business_id">Business ID: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.business_id }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="business_review_count">Yelp Business Review: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {{ yelp_data.business_review_count }}
        </strong>
    </div>
    <div class="property">
        <font size="+2">
            <label for="is_open">Business Is Open: </label>
        </font>
    </div>
    <div class="value">
        <strong style="color: blue;">
            {% if yelp_data.is_open %}
            {{"Is open"}}
            {% else %}
            {{"Not open"}}
            {% endif %}
        </strong>
    </div>
</div>
    {% endblock %}
